<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="skkk.gogogo.dakainote">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".Application.MyApplication"
        android:icon="@drawable/item_edit"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 主 界 面 -->
        <activity
            android:name=".Activity.HomeActivity.FragmentUIHomeActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- note details 编辑界面 -->
        <!-- note details 展示界面 -->
        <activity
            android:name=".Activity.PermissionsActivity.PermissionsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity.MyTestActivity"/>
        <activity
            android:name=".Activity.NoteEditActivity.ArcNewNoteActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activity.NoteEditActivity.NoteItemActivity.NoteImageActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
